/* POS Page */
.title {
    padding: 10px;
    margin-bottom: -5px;
    margin-top: -10px;
    margin-left: 20px;
}

.total {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 200px;
}

.total-box1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 20px;
}

.card {
    display: flex;
    width: 1250px;
    height: 83vh;
}

#border-none {
    border-radius: 0;
}

.products-card {
    margin: 20px;
}

.product-box {
    border: 1px solid maroon;
}

.cart-card {
    display: block;
    /* margin: auto; */
    padding-left: 10px;
    padding-top: 20px;
}

.cartReceipt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: auto;
}

.block {
    margin: 5px;
}

.stocks {
    margin-top: -30px;
    margin-left: 90px;
}

.misc-box {
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
}

.qr-scanner {
    width: 200px;
}

.qr-scanner img {
    width: 180px;
    color: white;
}

#pay-button {
    padding: 50px 35px;
    margin-top: 29px;
    font-size: 15px;
    font-weight: 900;
}

.cash-tendered {
    margin-top: 20px;
}

.title-change {
    border-bottom: 1px solid black;
    margin: 0;
    padding-top: 20px;
}
