/* POS Page */
.title {
    /* padding: 10px; */
    margin-bottom: 0px;
    margin-top: -15px;
    margin-left: 10px;
}

.card {
    display: flex;
    width: 1250px;
}

#border-none {
    border-radius: 10;
}

.products-card {
    margin: 10px;
}

.product-box {
    border: 1px solid maroon;
}

.cart-card {
    display: block;
    /* margin: auto; */
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    border-radius: 10px;
    /* background-color: darkgrey; */
    height: 850px;
}

.total-box-outer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
}

.total-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 230px;
}

.total {
    padding-right: 10px;
}

.cartReceipt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: auto;
}

.block {
    margin: 5px;
}

.stocks {
    margin-top: -30px;
    margin-left: 110px;
}

.misc-box {
    margin-top: -10px;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}

.option-box {
    display: flex;
}

.qr-scanner {
    width: 180px;
    margin-top: 15px;
}

.qr-scanner img {
    width: 170px;
    color: white;
}

#pay-button {
    padding: 48px 45px;
    margin-top: 27.5px;
    margin-left: 30px;
    font-size: 15px;
    font-weight: 900;
}

.cash-tendered {
    margin-top: 20px;
}

.title-change {
    border-bottom: 5px solid black;
    background-color: whitesmoke;
    width: 220px;
    margin: 0;
    padding-top: 12px;
    padding-left: 10px;
    padding-bottom: 8px;
    margin-left: 8px;
}

.cash-change {
    font-size: 20px;
    color: #d32f2f;
}