#container {
    padding-left: 25px;
    padding-right: 25px;
    width: 600px;
    overflow: hidden;
    margin: auto;
    margin-top: 30px;
}

.title {
    text-align: center;
}

.table-container {
    display: flex;
    width: 100%;
}

.amount-container {
    margin-top: 0px;
}

.total-amount {
    font-size: 15px;
    margin-left: 300px;
    text-align: end;
    margin-bottom: -13px;
    padding-right: 100px;
}