#container {
    margin: 30px auto;
    padding-left: 50px;
    padding-right: 50px;
}

.title {
    text-align: center;
}

.table-container {
    display: flex;
    margin: 30px auto;
    border: 1px solid black
}

.total-amount {
    margin-top: -50px;
    margin-left: 570px;
}