#container {
    margin: 30px auto;
    padding-left: 50px;
    padding-right: 50px;
}

.title {
    text-align: center;
}

.table-container {
    display: flex;
    margin: 30px auto;
    border: 1px solid black
}

.amount-container {
    margin-top: -50px;
}

.total-amount {
    margin-left: 570px;
    text-align: end;
    margin-bottom: -20px;
    padding-right: 90px;
}